@model PSS_Weltec.Models.User

@{
    ViewBag.Title = "Log In";
}

<style type="text/css">
.border{
border:dashed solid #0066FF;
} 
</style>
<section id="loginForm">
<h1>@ViewBag.Title</h1>
@using (Html.BeginForm()){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.user_Name_Model)
                @Html.TextBoxFor(m => m.user_Name_Model)
                @Html.ValidationMessageFor(m => m.user_Name_Model)
            </li>
            <li>
                @Html.LabelFor(m => m.user_Password_Model)
                @Html.PasswordFor(m => m.user_Password_Model)
                @Html.ValidationMessageFor(m => m.user_Password_Model)
            </li>
            @*<li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>*@
        </ol>
        <input type="submit" value="Submit" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "RegisterIndex") (If you don't have an account).
    </p>
    }
</section>

<section class="social" id="socialLoginForm">
    <h3>Welcome to IT7351 Project Selection.</h3>
    <br />
    <span>The main aim of "IT7351 Project Selection" is to bring
different skilled students and different ideas together to make a good team with
better understanding.</span>
    <br />
    <br />
    <br />
    <span>It is helpful for students to understand project detail and seek a suitable team member.</span>
    <br />
    <br />
    <br />
		<span>It also supports students share their own ideas and communicate with each other.</span>		
</section>