@model PSS_Weltec.Models.Idea
@{
    ViewBag.Title = "IdeaDetail";
    Layout = "~/Views/Shared/FrameShare.cshtml";
}

<div region="center" title="" border="false" style="padding: 0px 0px 2px 0px; overflow: hidden;">
    <div class="easyui-panel" title="" fit="true" border="false" style="overflow: hidden;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="true">
                <div region="north" title="" border="false" style="height: 26px; overflow: hidden;">
                    <div class="div_toolbar" style="float: left; height: 26px; width: 100%; border-bottom: 1px solid #99BBE8; padding: 1px;">
                        <a href="javascript:void(0);" class="easyui-linkbutton" plain="true" icon="icon-save" onclick="Audite();">Audite</a>
                        <a href="javascript:void(0);" class="easyui-linkbutton" plain="true" icon="icon-approve" onclick="Approve();">Approve</a>
                    </div>
                </div>
                <div region="center" border="true" style="overflow:auto;">
                    <form id="modelForm" method="post">
                        <table id="ideaTable" style="width: 90%; margin: 10px auto;" border="1">
                            <tr style="height: 24px">
                                <td style="width: 20%; text-align: right;">
                                    <b>Idea Title:&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </td>
                                <td style="width: 40%; text-align: left;" colspan="3">
                                    <input id="Idea_Title" name="Idea_Title" type="text" style="width: 95%;" readonly="readonly"/>
                                    <input id="Idea_Trimester_Id" name="Idea_Trimester_Id" hidden="hidden" value="@Model.Idea_Trimester_Id"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 10%; text-align: right;">
                                    <b>Staff Contact:&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </td>
                                <td style="width: 40%; text-align: left;">
                                    <input id="Idea_Staff_Contact" name="Idea_Staff_Contact" type="text" style="width: 95%;" readonly="readonly"/>
                                </td>
                                <td style="width: 10%; text-align: right;" nowrap>
                                    <b>Client Contact:&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </td>
                                <td style="width: 40%; text-align: left;">
                                    <input id="Idea_Client_Contact" name="Idea_Client_Contact" type="text" style="width: 86%;" readonly="readonly"/>
                                </td>
                            </tr>
                            <tr style="height: 24px">
                                <td style="width: 10%; text-align: right;">
                                    <b>Client Company:&nbsp;&nbsp;</b>
                                </td>
                                <td style="width: 40%; text-align: left;" colspan="3">
                                    <input id="Idea_Client_Company" name="Idea_Client_Company" type="text" style="width: 95%;" readonly="readonly"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 10%; text-align: right;">
                                    <b>Valid Dates:&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </td>
                                <td style="width: 40%; text-align: left;">
                                    <input id="Idea_Valid_Dates" name="Idea_Valid_Dates" type="text" style="width: 95%;" readonly="readonly"/>
                                </td>
                                <td style="width: 10%; text-align: right;" nowrap>
                                    <b># Students:&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </td>
                                <td style="width: 40%; text-align: left;">
                                    <input id="Idea_Students_Num" name="Idea_Students_Num" type="text" style="width: 15%;" readonly="readonly"/>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;Continuation?</b>
                                    <input id="Idea_Continuation" name="Idea_Continuation" type="text" style="width: 15%;" readonly="readonly"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <b>Short Description</b><span>(1-2 sentences):&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <textarea id="Idea_Description" name="Idea_Description" style="width: 98%;" rows="8" readonly="readonly"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <b>Major Skills Required</b><span>:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <textarea style="width: 98%;" id="Idea_Skills_Required" name="Idea_Skills_Required" rows="4" readonly="readonly"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <b>Context</b><span>(describe environment and situation):&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <textarea style="width: 98%;" id="Idea_Context" name="Idea_Context" rows="8" readonly="readonly"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <b>Goals</b><span>(main achievements or deliverables required):&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <textarea style="width: 98%;" id="Idea_Goals" name="Idea_Goals" rows="8" readonly="readonly"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <b>Features</b><span>(design features and any other required content ):&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <textarea style="width: 98%;" id="Idea_Features" name="Idea_Features" rows="8" readonly="readonly"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <b>Challenges</b><span>(expected difficulties and risks ):&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <textarea style="width: 98%;" id="Idea_Challenges" name="Idea_Challenges" rows="8" readonly="readonly"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <b>Further Opportunities</b><span>(for further development or extension):&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" colspan="4">
                                    <textarea style="width: 98%;" id="Idea_Opportunities" name="Idea_Opportunities" rows="8" readonly="readonly"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div id="auditIdea" class="easyui-window" title="Comment" style="padding: 10px;width:540px;height:280px;"
		                data-options="iconCls:'icon-edit',minimizable:false,minimizable:false,closed:close,resizable:false,collapsible:false,modal:true,shadow:true">
			            <div class="easyui-layout" fit="true">
				            <div region="center" border="false" style="padding:10px;background:#eff3ff;border:1px solid #ccc;">
		                        <form id="auditIdeaForm" method="post" style="">
			                        <table style="width:480px;" border="0" cellpadding="0" cellspacing="0">
                                        <tr style="height:170px">
					                        <td style="width:90%; text-align:center;">
						                        <textarea id="Idea_Comm_Content" name="Idea_Comm_Content" style="height:100%;width:100%; align-content:center"></textarea>
					                        </td>
				                        </tr>
			                        </table>
		                        </form>
				            </div>
				            <div region="south" border="false" style="text-align:right;height:30px;line-height:30px;">
					            <a id="btnSave" class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onclick="Comment()">Save</a>
					            <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onclick="$('#auditIdea').window('close');">Cancle</a>
				            </div>
			            </div>
		            </div>
                </div>
            </div>
            <div region="east" hide="true" split="true" title="" style="width:380px;" id="east">
                <div class="easyui-layout" fit="true">
                    <div region="north" id="ideaDisc" class="easyui-panel" title="Discussion" style="height:400px;">
                    </div>
                    <div region="center" title="Message">
                        <form id="ideaDiscForm" method="post">
                            <table style="width:98%;">
                                <tr>
                                    <td style="width: 100%; text-align: left;">
                                        <textarea id="Idea_Disc_Content" name="Idea_Disc_Content" style="width:100%;height:105px;">

                                        </textarea>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div style="text-align:left;padding:0px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="Save()">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var modelId = '';
    $(function () {
        modelId = "@Model.Idea_Id";
        if (modelId != null && modelId != 0 && modelId != "") {
            $("#modelForm input[name='Idea_Title']").val("@Model.Idea_Title");
            $("#modelForm input[name='Idea_Staff_Contact']").val("@Model.Idea_Staff_Contact");
            $("#modelForm input[name='Idea_Client_Contact']").val("@Model.Idea_Client_Contact");
            $("#modelForm input[name='Idea_Client_Company']").val("@Model.Idea_Client_Company");
            $("#modelForm input[name='Idea_Valid_Dates']").val("@Model.Idea_Valid_Dates");
            $("#Idea_Students_Num").val("@Model.Idea_Students_Num");
            $("#Idea_Continuation").val("@Model.Idea_Continuation");

            $("#Idea_Description").val(unescape("@Model.Description"));
            $("#Idea_Skills_Required").val(unescape("@Model.Skills_Required"));
            $("#Idea_Context").val(unescape("@Model.Context"));
            $("#Idea_Goals").val(unescape("@Model.Goals"));
            $("#Idea_Features").val(unescape("@Model.Features"));
            $("#Idea_Challenges").val(unescape("@Model.Challenges"));
            $("#Idea_Opportunities").val(unescape("@Model.Opportunities"));
            $('#Idea_Disc_Content').val('');

            Reload();
            CommReload();
        }
    })
    function Save() {
        $('#ideaDiscForm').form('submit', {
            url: '/Idea/IdeaDiscSave/?ideaId=' + modelId,
            onSubmit: function () {
                return $('#ideaDiscForm').form('validate');
            },
            success: function (r) {
                var rVal = $.parseJSON(r);
                if (rVal.result) {
                    $('#Idea_Disc_Content').val('');
                    Reload();
                } else {
                    $.messager.alert('Error', 'Fail:' + rVal.message, 'error');
                }
            }
        })
    }
    function Reload() {
        $.ajax({
            url: '/Idea/IdeaDiscLoad/?ideaId=' + modelId,
            type: "post",
            dataType: "json",
            success: function (retValue) {
                if (retValue.result) {
                    ShowContent(retValue.rows);
                } else {
                    $.messager.alert('Warning', 'Fail:' + retValue.message, 'error');
                }
            }
        });
    }
    function ShowContent(Rows) {
        var iShow = '';
        $.each(Rows, function (index, item) {
            iShow += "<a><span style='color:#dd0000'>" + item['UserName'] + "</span></a>&nbsp;&nbsp;&nbsp;&nbsp; <a>" + item['Disc_Time'] + "</a>";
            iShow += "<br>";
            iShow += "<a><span style='color:black'>" + item['Idea_Disc_Content'] + "</span></a>";
            iShow += "<br><br>";
            iShow += "<hr />";
        });
        $('#ideaDisc').panel({
            content: iShow
        });
    }
    function Audite() {
        $("#auditIdea").window("open");
        $("#auditIdeaForm")[0].reset();
        $("#Idea_Comm_Content']").focus();
    }
    function Comment() {
        $('#auditIdeaForm').form('submit', {
            url: '/Idea/IdeaCommSave/?ideaId=' + modelId,
            success: function (r) {
                var rVal = $.parseJSON(r);
                if (rVal.result) {
                    $('#auditIdea').window('close');
                    CommReload();
                } else {
                    $.messager.alert('Error', 'Fail:' + rVal.message, 'error');
                }
            }
        })
    }
    function CommReload() {
        $.ajax({
            url: '/Idea/IdeaCommLoad/?ideaId=' + modelId,
            type: "post",
            dataType: "json",
            success: function (retValue) {
                if (retValue.result) {
                    ShowCommContent(retValue.rows);
                } else {
                    $.messager.alert('Warning', 'Fail:' + retValue.message, 'error');
                }
            }
        });
    }
    function ShowCommContent(Rows)
    {
        var iShow = '<tr><td style="text-align: left;" colspan="4"><b>Comments</b></td></tr>';
        $.each(Rows, function (index, item) {
            iShow += "<tr><td style='text-align: left;' colspan='4'><a>" + item['Comm_Time'] + "</a>";
            iShow += "<br>";
            iShow += "<a><span style='color:red'>" + item['Idea_Comm_Content'] + "</span></a>";
            iShow += "<br><br>";
            iShow += "</td><tr>";
        });
        $('#ideaTable').append(iShow);
    }
    function Approve() {
        $.ajax({
            url: '/Idea/IdeaApprove/?ideaId=' + modelId,
            type: "post",
            dataType: "json",
            success: function (r) {
                $.messager.alert('Info', 'The idea has been moved to Project list!', 'info');
            }
        });
    }
</script>
